aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aiosignal==1.4.0
anyio==4.14.0
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.7
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
multidict==6.7.1
pillow==12.2.0
propcache==0.5.2
pyTelegramBotAPI==4.34.0
python-dotenv==1.2.2
python-telegram-bot==22.8
requests==2.34.2
telebot==0.0.5
urllib3==2.7.0
yarl==1.24.2
